body {
    margin: 0px;
    color: #c7d5e0;
    width: 100%;
    min-height: 100vh;
    font-family: "Motiva Sans", Sans-serif;
    background-color: #1b2838;
    background-color: rgba(42,42,46,1);
}


.container {
    /* fr: fractional units*/
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
       "header header"
       "aside main";
    height: 100vh
 }

 .header {
    grid-area: header;
    background-color: #171a21;
    width: 100%;
    vertical-align: center;
 }
 .header h1 {
    margin-left: 15px;
 }

 .popupwindow {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(23, 20, 25, 0.9);
   z-index: 1;
 }

 .searchbar-input {
   box-shadow: 0 3px 8px rgba(23, 20, 25, 0.5), 0 0 2px rgba(23, 20, 25, 0.75);
   border-radius: 8px;
   color: #B1B1BD;
   background-color: #38383D;
   border: 1px solid transparent;
   width: 720px;
   min-height: 45px;
   padding-inline-start: 32px;
 }

 .backbutton, .nextbutton {
    box-shadow: 0 3px 8px rgba(23, 20, 25, 0.5), 0 0 2px rgba(23, 20, 25, 0.75);
    border-radius: 4px;
    color: #B1B1BD;
    background-color: #38383D;
    border: 1px solid transparent;
    width: 100px;
    min-height: 40px;
    margin: 10px;
    margin-bottom: 30px;
 }


 .backbutton:hover, .nextbutton:hover {
   background-color: rgb(255, 80, 100);
 }

 .defaultlist {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-top: 100px;
 }
 .gamelist {
    list-style-type: none; /* Remove bullets */
    width: 50%;
    margin: auto;
    margin-top: 100px;
 }
 .gamelist li a {
     width: 100%;
     margin-bottom: 10px;
     border: 1px solid black;
     text-decoration: none;
     background: rgba( 0, 0, 0, 0.2 );
     text-align: left;
     display: flex;
     height: 87px;
     font-size: 25px;
 }
 .gamelist li a:hover {
     background-color: #66c0f4;
 }
 .gamelist li a:hover .gametitle{
    color: #384959;
 }
 .imgdivimg {
     margin-right: 10px;
     background-color:rgb(255, 80, 100);
     width: 231px;
     height: 87px;
 }
 .platform-img {
    vertical-align: bottom;
    margin-top: 10px;
    opacity: 1;
    display: inline-block;
    margin-left: 10px;
 }
path {
   fill: #ededed;
   opacity: 0.5;
}
.gametitle {
    color: #c7d5e0;
    margin-top: 5px;
}
.gamedetails {
    color: #384959;
}

.playercount{
    margin: auto;
    color: #c7d5e0;
    margin-left: auto;
}
.gamelist li a:hover .playercount {
    color: #384959;
}


 .defaultlist li {
    padding: 5px;
 }
 .defaultlist li a{
    color: #66c0f4;
    text-decoration: none;
 }
 .defaultlist li a:hover{
    color: #c7d5e0;
    text-decoration: none;
 }
 
 .content {
    grid-area: main;
    /* background-color: #c7d5e0; */
    /* background: linear-gradient(rgb(42, 71, 94) 5%, rgba(42, 71, 94, 0) 70%); */
    text-align: center;
 }
 
 .aside {
    grid-area: aside;
    /* background: linear-gradient(rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%); */
    background: linear-gradient(rgb(42, 71, 94) 5%, rgba(42, 71, 94, 0) 70%);
    text-align: center;
 }

 /* #c6e6f8 */